/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
html {  background: linear-gradient(0deg, rgba(255,204,225,1) 0%, rgba(255,235,188,1) 100%);}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
